MIDTRANS_SERVER_KEY=SB-Mid-server-XXXXXXX

# Inline-prefixed for NEXT_PUBLIC so both server + client see them
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-XXXXXXX
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false